<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>MY APP</title>
</head>
<body>
  <h3>Index.ejs</h3>

  <ul class="monster">
  <% for(var i=0; i<monsters.length; i++) {%>
    <li class="monster">
      <span><%= monsters[i].name %></span>
      <span><%= monsters[i].api_index %></span>
    </li>
  <% } %>
  </ul>
  

  <form action="/monsters" method="POST">
    <input type="text" placeholder="name" name="name">
    <input type="text" placeholder="api_index" name="api_index">
    <button type="submit">Submit</button>
  </form>
</body>
</html>